html {
  font-size: 14px;
}

@media (min-inline-size: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-block-size: 100%;
}

body {
    margin-block-end: 60px; 
}
.card {
    border-color: black;
    border-radius:20px;
}
#cardBgIndexHeadr {
    border-start-start-radius: 18px;
    border-start-end-radius: 18px;
    border-color: black;
}
#cardBgIndexFooter {
    border-end-start-radius: 18px;
    border-end-end-radius: 18px;
    border-color: black;
}
#elementCardIndexFooter {
    align-items: center;
    justify-content: center;
    display: flex;
}
